@model BusinessObjects.Article

<div class="flx-container">
    <div class="col-9 article-detail">
        <h1 class="title">@Html.DisplayFor(model => model.Title)</h1>

        <blockquote class="blockquote">
            <p class="mb-0">@Html.DisplayFor(model => model.Summary)</p>
        </blockquote>

        <p class="content">@Html.Raw(@Model.ContentHtml)</p>

    </div>
</div>