.badge{
    text-transform:lowercase;
}
.table td, .table th {
    border-top: 0;
}
.main-container{
    display:grid;
    grid-template-columns: 1fr 9fr;
}

.container-left{
}

.page-btn-container {
    position: relative;
    width: 95%;
    margin: 1% 2.5%;
    height: 5vh;
}

.page-btn-container .btn-prev,
.page-btn-container .btn-next {
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0;
    font-weight: 900;
    border-width: 2px;
    border-radius: 50%;
    color: rgb(127,127,127);
    border-color: rgb(127,127,127);
}

.page-btn-container .btn-prev:hover,
.page-btn-container .btn-next:hover {
    color: rgb(107,107,107);
    border-color: rgb(107,107,107);
}

.page-btn-container .btn-prev::before {
    content: '<';
}

.page-btn-container .btn-next::after {
    content: '>';
}

.page-btn-container .btn-prev {
    left: 0;
}

.page-btn-container .btn-next {
    right: 0;
}

.tbl-action{
    border:none;
}
.tbl-action-link {
    transition: .1s ease;
    opacity: 0;
}
tr:hover .tbl-action-link{
    transition: .1s ease;
    opacity:1;
}
tr:hover{
    background-color:rgb(247,247,247);
    border-bottom: 1px solid rgb(100,100,100);
}
.tbl-title {
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap; /* HP printers */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
    word-break: break-all;
    display: flex;
    justify-content: left;
    align-content: center;
}

ul.nav li.nav-item {
    background-color: rgb(252,252,252);
    margin: .25vh 0;
}

ul.nav li.selected {
    /* border-style: solid; */
    border-radius: 4px;
    background-color: var(--main);
}

    ul.nav li.selected a {
        color: white;
    }
