#titleHelp {
    font-size: 1rem;
}

#form-content {
    word-wrap: break-word;
}

    #form-content img {
        display: block;
        max-width: 100%;
        height: auto;
    }

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 50;
}

    header .btn-outline {
        background-color: var(--main);
        color: white;
    }

.article-img-container {
    /*background-color: rgb(50,50,50);*/
    background-color: #000000;
    background-image: linear-gradient(13deg, rgb(50,50,50) 0%, rgb(0,0,0) 74%);
    width: 100vw !important;
    height: 100vh !important;
}

#article-img-cover {
    width: 100%;
    height: auto;
    filter: brightness(70%);
}

.article-header {
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
}

.article-header-info-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.article-header-info-inner {
    display: grid;
    grid-template-columns: 60% 40%;
    align-content: center;
}

#form-title {
    text-align: right;
    color: white;
    font-size: 4rem;
    border-right-style: solid;
    border-right-width:3px;
    border-color: white;
    padding-right: 2rem;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.1);
    word-wrap:break-word !important;
}

.article-user-info {
    display: grid;
    grid-template-rows: 50% 50%;
    padding-left: 2rem;
    color: white;
    font-weight: 900;
}

.article-user-info, .user-link-container span {
    font-size: 2rem;
}

.user-link-container span a {
    text-decoration: none;
    color: #FFE6D6;
    font-weight: 500;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.1);
}

.user-link-container span a:hover {
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
}

.user-link-container {
    display: flex;
    align-items: flex-end;
}

.link-logged-in a {
    text-shadow: 2px 1px 0px rgba(0,0,0,0.1);
}

.link-logged-in div {
    color: rgb(240,240,240);
    text-shadow: 2px 2px 0px rgba(0,0,0,0.1);
}

header {
    transition: .2s ease;
}

.dark-nav {
    transition: .2s ease;
    background-color: rgb(50,50,50);
    box-shadow: 0px 2px 3px rgba(0,0,0,.1);
}

nav.mb-3 {
    margin-bottom: 0 !important;
}
.btn-alt {
    color:rgb(57,57,57);
    border-color: #FFE6D6; 
    background-color: #FFE6D6;
}
.btn-alt:hover {
    color: rgb(57,57,57);
    border-color: #FFE6D6;
    background-color: #FFE6D6;
    box-shadow: 0px 2px 3px rgba(0,0,0,.1);
}