main{
    display:grid;
    grid-template-columns: 7fr 3fr;
}

.toast {
    top: 6.5vw;
    right: 3vw;
}
.header-tag {
    font-size:.8rem;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(128,128,128);
}

.tag-list-container {
    position: sticky;
    top: .5rem;
}