/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* style constants
-------------------------------------------------- */
:root {
    --main: rgb(254, 121, 78);
    --main-hover: rgb(234, 111, 58);

/*    --logout: rgb(202, 104, 115);
    --logout-hover: rgb(182, 94, 95);
    --login: rgb(254, 121, 78);
    --register: rgb(254, 121, 78);*/

}
/*------------------------------------*/
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: rgb(254, 121, 78);
}

a:hover {
    color: var(--main-hover);
}

.btn-primary {
    color: #fff;
    background-color: rgb(254, 121, 78);
    border-color: var(--main-hover);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: rgb(254, 121, 78);
    border-color: var(--main-hover);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Custom site css
-----------------------------------------------*/
nav.navbar {
    background-color: rgba(0,0,0,0) !important;
}

.img-brand {
    width: 90px;
    height: 90px;
}

.form-inline {
    position: relative;
}

.form-inline button {
    position: absolute;
    right: 0;
    bottom: 0;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.btn {
    background-color: var(--main);
    border-style: solid;
    border-color: var(--main);
    color: white;
    margin: 0 .4vw;
}

.btn-outline {
    background-color: rgb(255,255,255);
    border-style: solid;
    border-color: var(--main);
    color: var(--main);
}

.btn:hover {
    background-color: var(--main-hover);
    border-color: var(--main-hover);
    box-shadow: 0px 3px 5px rgb(198, 198, 198);
}

.form-group.required .control-label:before {
    content: "◉ ";
    color: var(--main);
    font-size:1.2rem;
}

/*#region compose button */
/*https://codepen.io/grdnbryant/pen/eNGjzX*/
.vertical, .horizontal {
    position: relative;
    left: 26px;
    top: 19px;
    width: 2px;
    height: 16px;
    background-color: white;
}

.horizontal {
    position: relative;
    top: 3px;
    transform: rotate(90deg);
}

.circle {
    float: left;
    zoom: 2;
    margin: 1em;
    width: 54px;
    height: 54px;
    background-color: rgb(254, 121, 78);
    border-radius: 50%;
    box-shadow: 0px 3px 5px rgb(198, 198, 198);
    cursor: pointer;
}

.circle .vertical, .circle .horizontal {
transition: transform 0.2s, width 0.2s, height 0.2s, top 0.2s, left 0.2s;
}

.circle .horizontal {
transition: transform 0.2s, width 0.2s, height 0.2s, top 0.2s, left 0.2s;
}

.circle:hover .vertical, .circle:hover .horizontal {
width: 4px;
height: 4px;
top: 17px;
left: 32px;
transform: rotate(220deg);
}

.circle:hover .horizontal {
width: 4px;
height: 19px;
top: 15px;
left: 24px;
transform: rotate(220deg);
}

.circle:hover .horizontal:before {
content: "";
display: block;
width: 0px;
height: 0px;
border-left: 2px solid transparent;
border-right: 2px solid transparent;
border-bottom: 4px solid white;
position: relative;
top: -5px;
}

.btn-compose-container {
    position: fixed;
    transform: scale(0.64, 0.64);
    bottom: 0;
    right: 0;
    z-index: 10;
}
/*#endregon*/