@model TekiBlog.ViewModels.ProfileViewModel

<div class="container">
    @*<partial name="_ManageNav" />*@
    <span class="text-success">@ViewData["UpdateInfoMessageSuccess"]</span>
    <form method="post" asp-controller="Profile" asp-action="Info">
        <input type="hidden" asp-for="UserID" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <input type="Submit" value="Change Info" />
    </form>
</div>
