@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;


@if (SignInManager.IsSignedIn(User))
{
    <div class="btn-compose-container">
        <a asp-area="" asp-controller="Article" asp-action="Editor">
            <span class="circle">
                <div class="vertical"></div>
                <div class="horizontal"></div>
            </span>
        </a>
    </div>
}
