
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Admin" asp-action="Index">Manage Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Admin" asp-action="ViewUser">Manage User</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Admin" asp-action="Tag">Manage Tag</a>
    </li>
</ul>

