
<div id="page-notification" class="toast toast-hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="mr-auto"><i class="fa fa-bell"></i> Notification</strong>
    </div>
    <div id="page-notification-body" class="toast-body">
        Hello, world! This is a toast message.
    </div>
</div>