@inject ActionServices.IService service;

<div>
    @{
        var tags = service.GetAllActiveTags().OrderBy(a => a.Name);
        if (tags.Count() != 0)
        {
            foreach (var tag in tags)
            {
                <a class="tag badge" asp-controller="Article" asp-action="Home" asp-route-tagid="@tag.Id">
                    @tag.Name
                </a>
            }
        }
    }
</div>